.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 48px;
  border-radius: 32px;
  gap: 10px;
}
.button:focus {
  outline: 2px solid #959595;
  outline-offset: 2px;
}

.large-btn {
  height: 48px;
  padding: 12px 24px;
}
.medium-btn {
  height: 40px;
  padding: 8px 24px;
}
.small-btn {
  height: 32px;
  padding: 8px 24px;
  font-size: 13px;
}

.primary {
  background-color: #502bd8;
  border: 1px solid #502bd8;
  color: #f8f8f8;
}
.primary:hover {
  background-color: #5733da;
}
.primary:active {
  background-color: #5e3cdb;
}
.primary-disabled {
  background-color: #eeeeee;
  border: #eeeeee;
  color: #dcdcdc;
}

.primaryInverse {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #222222;
  box-shadow: 0px 10px 10px -10px #2222221a;
}
.primaryInverse:hover {
  box-shadow: 0px 8px 32px 0px #2222220d;
}
.primaryInverse:active {
  border: 1px solid #343434;
}

.secondary {
  background-color: #222222;
  border: 1px solid #222222;
  color: #ffffff;
}
.secondary:hover {
  background-color: #2b2b2b;
}
.secondary:active {
  background-color: #343434;
}
.secondary-disabled {
  background-color: #eeeeee;
  border: #eeeeee;
  color: #dcdcdc;
}

.tertiary {
  background-color: #f1f1f1;
  border: 1px solid #6544dd;
  color: #6544dd;
}
.tertiary:hover {
  background-color: #6c4dde;
  color: #f8f8f8;
  border: 1px solid #6c4dde;
}
.tertiary:active {
  background-color: #7355e0;
  color: #f8f8f8;
  border: 1px solid #7355e0;
}
.tertiary-disabled {
  background-color: #f1f1f1;
  color: #dcdcdc;
  border: 1px solid #dcdcdc;
}

.ghost {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  color: #5733da;
}
.ghost:hover {
  background-color: #c7bbf3;
  border: 1px solid #c7bbf3;
}
.ghost:active {
  background-color: #c0b3f1;
  border: 1px solid #c0b3f1;
}
.ghost-disabled {
  color: #dcdcdc;
}

.warning {
  background-color: #d8502b;
  border: 1px solid #d8502b;
  color: #f8f8f8;
}
.warning:hover {
  background-color: #da5733;
  border: 1px solid #da5733;
}
.warning:active {
  background-color: #db5e3c;
  border: 1px solid #db5e3c;
}
.warning-disabled {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  color: #f1f1f1;
}

.skeleton {
  border: none;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 1%,
    rgba(183, 183, 183, 1) 45%,
    rgba(220, 220, 220, 1) 100%
  );
  animation: shimmer 2s infinite alternate;
}

.skeleton-btn-inner-large {
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 1%,
    rgba(183, 183, 183, 1) 45%,
    rgba(220, 220, 220, 1) 100%
  );
  border-radius: 16px;
  height: 24px;
  width: 128px;
  display: inline-block;
  animation: shimmer 2s infinite alternate;
}

.skeleton-btn-inner-medium{
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 1%,
    rgba(183, 183, 183, 1) 45%,
    rgba(220, 220, 220, 1) 100%
  );
  border-radius: 16px;
  height: 24px;
  width: 128px;
  display: inline-block;
  animation: shimmer 2s infinite alternate;
}
.skeleton-btn-inner-small{
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 1%,
    rgba(183, 183, 183, 1) 45%,
    rgba(220, 220, 220, 1) 100%
  );
  border-radius: 16px;
  height: 16px;
  width: 128px;
  display: inline-block;
  animation: shimmer 2s infinite alternate;
}

.skeleton-btn-inner-large-with-icon{
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 1%,
    rgba(183, 183, 183, 1) 45%,
    rgba(220, 220, 220, 1) 100%
  );
  border-radius: 16px;
  height: 24px;
  width: 88px;
  display: inline-block;
  animation: shimmer 2s infinite alternate;
}

.skeleton-btn-inner-medium-with-icon{
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 1%,
    rgba(183, 183, 183, 1) 45%,
    rgba(220, 220, 220, 1) 100%
  );
  border-radius: 16px;
  height: 24px;
  width: 88px;
  display: inline-block;
  animation: shimmer 2s infinite alternate;
}

.skeleton-btn-inner-small-with-icon{
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 1%,
    rgba(183, 183, 183, 1) 45%,
    rgba(220, 220, 220, 1) 100%
  );
  border-radius: 16px;
  height: 16px;
  width: 88px;
  display: inline-block;
  animation: shimmer 2s infinite alternate;
}

.icon-skeleton-large {
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 1%,
    rgba(183, 183, 183, 1) 45%,
    rgba(220, 220, 220, 1) 100%
  );
  border-radius: 16px;
  height: 24px;
  width: 24px;
  display: inline-block;
  animation: shimmer 2s infinite alternate;
}
.icon-skeleton-medium {
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 1%,
    rgba(183, 183, 183, 1) 45%,
    rgba(220, 220, 220, 1) 100%
  );
  border-radius: 16px;
  height: 24px;
  width: 24px;
  display: inline-block;
  animation: shimmer 2s infinite alternate;
}
.icon-skeleton-small {
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 1%,
    rgba(183, 183, 183, 1) 45%,
    rgba(220, 220, 220, 1) 100%
  );
  border-radius: 16px;
  height: 16px;
  width: 16px;
  display: inline-block;
  animation: shimmer 2s infinite alternate;
}

@keyframes shimmer {
  0% {
    background-position: -160px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.icon-right {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 32px;
}

.icon-right-large {
  height: 48px;
  width: 160px;
  padding: 12px 16px;
}
.icon-right-medium {
  height: 40px;
  width: 156px;
  padding: 8px 16px;
}
.icon-right-small {
  height: 32px;
  width: 152px;
  padding: 8px 16px;
}

.only-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 16px;
  gap: 10px;
  border-radius: 24px;
}
.only-icon-large {
  height: 48px;
  width: 48px;
  padding: 12px;
}
.only-icon-medium {
  height: 40px;
  width: 40px !important;
  padding: 8px;
}
.only-icon-small {
  height: 32px;
  width: 32px !important;
  padding: 8px;
}
